@charset "utf-8";


h2 {
	margin: 20px;
	padding: 10px;
	text-align: left;
	color: #800080;
	font-size: xx-large;
}

p  {
    margin: 20px;
    padding: 10px;
}
h2 {
	color: #89E71C;
}
table {
	color: #6AE4DE;
}
